{{ block styles }}
    <style>
        tr:nth-child(even) {background-color: #f2f2f2;}
    </style>

{{ endblock }}
{{ block content }}
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <div class="w3-container">
        <p align="right">
            <button type="button" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Instruktionen erneut anzeigen</button>
        </p>
        <div id="id01" class="w3-modal">
            <div class="w3-modal-content">
                <header class="w3-container w3-black">
                <span onclick="document.getElementById('id01').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
                <h2>Instruktionen</h2>
                </header>
                <div style="margin-top: 15px;" class="w3-container">
                    <p>
                        Sie haben im Folgenden die Möglichkeit, an einer Verhandlung innerhalb Ihrer Gruppe teilzunehmen. In der
                        Verhandlung können sich die Gruppenmitglieder auf eine <b>gemeinsame Verpflichtung</b> einigen, die den Beitrag zum
                        Gruppenprojekt aller Gruppenmitglieder, die an der Verhandlung teilnehmen, festlegt. Der Verhandlungsprozess
                        besteht aus drei Stufen: (1) Teilnahme-Entscheidung, (2) Verhandlung und (3) Verpflichtung. Anschließend folgt
                        der Beitrag ins Gruppenprojekt und die Auszahlung.
                        <br> <br>
                        <u>Teilnahme-Entscheidung:</u> Im ersten Schritt entscheiden sich alle Gruppenmitglieder unabhängig voneinander, ob
                        sie an der Verhandlung teilnehmen wollen oder nicht. Wenn Sie sich gegen eine Teilnahme an der Verhandlung
                        entscheiden, haben Sie keine Möglichkeit sich an der Verhandlung sowie Verpflichtung zu beteiligen oder
                        Informationen über die Verhandlung zu erhalten. Sie entscheiden unabhängig vom Verhandlungsergebnis, wie viel Sie
                        beitragen möchten. Alle Mitglieder werden darüber informiert, wer sich dazu entschieden hat, an der Verhandlung
                        teilzunehmen. Sie bleiben dabei anonym, z.B. als „Person A“.
                        <br><br>
                        <u>Verhandlung:</u> Verhandlungsteilnehmer*innen haben drei Minuten Zeit, Vorschläge für eine gemeinsame
                        Verpflichtung auszutauschen. Die Verpflichtung spezifiziert einen <b>Mindestbeitrag</b> zum Gruppenprojekt zwischen
                        0 und 8€, der für alle Verhandlungsteilnehmer*innen gleich ist und nicht unterschritten werden kann. Jede*r
                        Verhandlungsteilnehmer*in schlägt Verpflichtungen vor, die sich auf die Beiträge aller Verhandlungsteilnehmer*innen
                        beziehen. Für Gruppenmitglieder, die nicht an der Verhandlung teilnehmen, gilt diese Verpflichtung nicht.
                        Vorschläge sind für alle Verhandlungsteilnehmer*innen sofort sichtbar und können innerhalb der Verhandlungszeit
                        jederzeit geändert werden.
                        <br><br>
                        <u>Verpflichtung:</u> Nach Ablauf der drei Minuten werden die Verhandlungsteilnehmer*innen aufgefordert,
                        unabhängig voneinander einen letzten Vorschlag zu machen. Der <b>niedrigste</b> Vorschlag für einen Mindestbeitrag
                        wird für alle verhandelnden Mitglieder verbindlich, d.h. alle Mitglieder müssen mindestens so viel zum
                        Gruppenprojekt  beitragen wie es der niedrigste Vorschlag vorgibt. Gruppenmitglieder, die nicht an der Verhandlung
                        teilnehmen, sind von dieser Verpflichtung ausgeschlossen und können demnach frei entscheiden, wie viel sie
                        beitragen möchten.
                        <br> <br>
                        <b>Bitte Beachten Sie:</b> Je höher der verbindliche Mindestbeitrag, desto mehr müssen alle
                        Verhandlungsteilnehmer*innen beitragen, wovon alle Gruppenmitglieder profitieren. Wenn Sie den niedrigsten
                        Mindestbeitrag vorgeschlagen haben, dann führt Ihr Vorschlag zu einer geringeren Beitragsverpflichtung aller
                        Verhandlungsteilnehmer*innen, was allen Gruppenmitgliedern (Sie selbst eingeschlossen) schadet. Ein höherer
                        Vorschlag erhöht die Verpflichtung aller Verhandlungsteilnehmer*innen, was allen Teilnehmer*innen (einschließlich
                        Ihnen selbst) nützt. Sie müssen bei einem hohen Vorschlag auch niemals Sorge haben, dass Sie mehr beitragen müssen
                        als die anderen Verhandlungsteilnehmer*innen. Sie werden niemals verpflichtet, mehr beizutragen als der*die
                        Verhandlungsteilnehmer*in mit dem niedrigsten Vorschlag.<br>
                        <img src="{{ static 'bilder/Verlauf_CC.png' }}" width="720px" />
                    </p>
                </div>
            </div>
        </div>
    </div>
<p>
    Ihre Eingabe war nicht korrekt, dies ist nun <b>Ihre letzte Eingabe-Möglichkeit</b>. Bitte denken Sie noch einmal über
    Ihre Antwort nach. Wenn Sie Fragen zum Verhandlungsformat haben, können Sie Ihre Hand heben, um die Versuchsleitung
    zu Ihnen zu bitten. Bitte denken Sie daran, die Beträge in Cent anzugeben.<br><br>
    Beispiel:<br>
    Person A und Person D nehmen an der Verhandlung teil – Personen B und C nicht. Die
    Verhandlungs-Teilnehmer*innen schlagen folgende Verpflichtungen vor: <br>
</p>
<table class="table" style="width:320px">
    <tr>
        <th> Person A </th>
        <th> 2€ </th>
    </tr>
    <tr>
        <th> Person D </th>
        <th> 6€ </th>
    </tr>
</table>
{{ if player.compr_b1 != 200 and player.compr2_b1 != 200 }}
    {{ formfield player.compr3_b1 label="Wie viel muss Person D mindestens beitragen (in Cent)?" }}
{{ endif }}
{{ if player.compr_b2 != 0 and player.compr2_b2 != 0 }}
    {{ formfield player.compr3_b2 label="Wie viel muss Person B mindestens beitragen (in Cent)?" }}
{{ endif }}
{{ if player.compr_b3 != 800 and player.compr2_b3 != 800 }}
    {{ formfield player.compr3_b3 label="Wie viel kann Person B maximal beitragen (in Cent)?" }}
{{ endif }}
{{ if player.compr_b4 != 100 and player.compr2_b4 != 100 }}
    {{ formfield player.compr3_b4 label="Wie viel muss Person A mindestens beitragen (in Cent), wenn Person D sein*ihr Angebot von 600 Cent auf 100 Cent reduziert?" }}
{{ endif }}

{{ next_button }}
</body>
</html>
{{ endblock }}