{{ extends "global/Page.html" }}
{{ block title }}Beitragsentscheidung{{ endblock }}
{{ block content }}
<style>
    ol.a {list-style-type: none;}
</style>


    <p>
        {{ if player.teilnahme == False }}
        Die folgenden Mitglieder Ihrer Gruppe hatten sich für eine Verhandlung entschieden:
        <ol class="a">
            {{ if p1_participated }} <li> Spieler*in A </li> {{ endif }}
            {{ if p2_participated }} <li> Spieler*in B </li> {{ endif }}
            {{ if p3_participated }} <li> Spieler*in C </li> {{ endif }}
            {{ if p4_participated }} <li> Spieler*in D </li> {{ endif }}
        </ol>
        {{ endif }}
        Nun investieren alle Spieler*innen ihren Beitrag.<br>
        In jeder Gruppe befinden sich <b>{{ C.PLAYERS_PER_GROUP }} Spieler*innen</b>,
        welche alle zu Beginn <b>mit {{ C.ENDOWMENT }} ausgestattet</b> sind.<br>
        Jeder beigesteuerte Cent wird <b>mit {{ C.MULTIPLIER }} multipliziert</b> und anschließend gleichmäßig auf
        alle 4 Gruppenmitglieder aufgeteilt. Von allen Beträgen, die Ihre Mitspieler*innen und Sie beisteuern,
        erhalten Sie persönlich also im Endeffekt {{ C.Eigenanteil }}%. <br>

        {{ if player.teilnahme == True }}Der kleinste Vorschlag für einen Mindestbeitrag ihrer Verhandlungsgruppe
        beträgt  <b>{{ group.lowest_proposal}}</b>. {{ endif }}
    </p>

<p>
    {{ if player.teilnahme == True }}
    Sie können also nun einen beliebigen geraden Betrag zwischen {{ group.lowest_proposal}} und {{ C.ENDOWMENT }} beitragen.
    {{ else }}
    Sie können also nun einen beliebigen geraden Betrag zwischen 0 und {{ C.ENDOWMENT }} beitragen.
    {{ endif }}
</p>

{{ formfields }}

{{ next_button }}

{{ endblock }}
